body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: aqua;
    text-align: center;
    padding: 15px;
}

.container {
    background-color:none;
    display:flexbox;
    flex-direction:row
    
}

input {
    width: 150rem
}

#city-list {
    width: 22rem;
}

#city-date-icon, #city-name, #current-icon {
    display: flex;
    flex-direction: row;
    justify-content: center space-around space-between;
    background-color: pink;
}


.row {
    background-color: none;
    width:auto;
}

h5 {
    font-weight: bold;
}

#forcast-cards {
    display:flex;
    flex-direction: row;
    background-color: pink;
}
.col-md-12 {
    background: blue;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100rem;

}
.searchcard-body {
    background-color: yellow;
    width: 20rem;
}






.form-inline {
    background-color: none;
}

.form-control {
    background-color: none;
}

.btn-outline {
    background: none;
}

.list-group {
    background: none;
}

.col-md2 {
    background: none;
}

.card {
    background: none;

}


.card-text {
    background: none;
}

.class-forcast1 {
    background: none;
}

.class-forcast2 {
    background: none;
}

.card-title {
    background: none;
}


