body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: aqua;
    position: fixed;
    top:0;
    z-index: 2;
    width: 100%;
    text-align: center;
    padding: 15px;
}

.date {
    font-weight: bold;
    text-align: center; 
}

.searchcard-body {
    background-color: yellow;
    width: 20rem;
    margin-bottom: 10px;
    margin-left: 45px;
    display: flexbox;
    border: borderbox;
    align-items: center;
}

.form-inline {
    width: 15rem;
    background-color: transparent;
    margin-left: 30px;
}

.btn-outline {
    border: 5px solid rgb(22, 26, 26);
   display:flexbox; 
   flex-direction: row;
   margin-left: 50px;
}

/*#city-list {
    width: 22rem;
}*/

#city-date-icon, #city-name, #current-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:green;
    box-sizing: border-box;
    padding: 1px 5px 0px 0px;
  
}

@media (min-width: 900px) {
.current-card-container{
    display: flex;
   flex-basis: auto;
    align-items:stretch;
    justify-content: space-around;

}}
.current-card {  
    background-color: blue;  
    width: 180px; 
    margin-left: 45px; 


}

h5 {
    font-weight: bold;
    text-align: center;
}

h3 {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-weight: bold;
    text-align: center;
}
/*#forcast-cards {
    display:flex;
    flex-direction: row;
    /* background-color: lavender;
}*/

.future-forcast {
    display: flex;
    box-sizing: border-box;
    background-color: lavender;
    padding: 15px 40px;

}


.col-md-12 {
    background-color: none;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap; 
      
}

.current-weather {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: space-around;
   
}






.card  {
    background-color: pink; 
    
}



.card-img-top {
    background-color:red

}

.card-text {
    padding: 1rem;
    font-size: small;
}


.container {
    background-color:rgb(192, 255, 203);
    margin-top: 50px;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 10%;
    max-width: 2000px;
    
   

  /*  @media (min-width: 900px) {
        .container{
            display: flex;
            align-items:stretch;
            justify-content: space-between space-around;
            background-color: bisque;
        }*/
     


.form-control {
    background-color: none;
}

.btn-outline {
    background: none;
}

.list-group {
    background: none;
}

.col-md2 {
    background: none;
}



.class-forcast1 {
    background: none;
}

.class-forcast2 {
    background: none;
}



